:global {
  .app-title {
    text-align: center;
  }

  .clock {
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin: 5px;
  }

  .clocks-container {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 670px;
  }

  .clock-digits {
    font-size: 32px;
    font-family: 'digits7', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .clock-label {
  }

  .remove-button {
    background: #fb8383;
    color: #fff;
  }

  @font-face {
    font-family: 'digits7';
    src: url('../../assets/digital-7.regular.ttf');
  }
}
